<md-subheader id="subheader">
    <div id="shContent" layout="row" layout-align="space-between center">
        <div flex="20">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Dashboard</label>
                <md-select ng-model="vm.selectedItem" ng-change="vm.handleClick(vm.selectedItem)">
                    <md-option ng-repeat="state in vm.dashboard" value="{{state.abbrev}}">
                        {{state.abbrev}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div flex="30" layout="row">
            <div flex>
                <ng-md-icon ng-show="vm.showWidgetOption" icon="youtube_searched_for" ng-click="vm.switchMode()"></ng-md-icon>
                <ng-md-icon ng-hide="vm.showWidgetOption" icon="edit" ng-click="vm.switchMode()"></ng-md-icon>
            </div>
            <div flex>
                <ng-md-icon ng-show="vm.showWidgetOption" icon="add" ng-click="vm.createDashboard($event)"></ng-md-icon>
            </div>
            <div flex>
                <ng-md-icon ng-show="vm.showWidgetOption" icon="remove" ng-click="vm.removeDashboard()"></ng-md-icon>
            </div>
            <div flex>
                Button 4
            </div>
        </div>
    </div>
</md-subheader>
<div div flex layout="row" layout-padding ng-cloak layout="row" layout-align="center stretch" style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px;">
    <!-- Area for widgets -->
    <div ng-hide="vm.showWidgetOption" flex="10" hide-xs hide-sm>
        <h4>Widget list</h4>
        <md-divider></md-divider>
        <ol>
            <li ng-repeat="item in vm.widgets">
                <button type="button" class="btn btn-default btn-lg" ng-click="vm.addWidget(item.type); vm.closeSideNav()">{{item.type}}</button>
            </li>
        </ol>
    </div>

    <!-- Area widgets for mobile UI -->
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
        <h4>Widget list</h4>
        <md-divider></md-divider>
        <ol>
            <li ng-repeat="item in vm.widgets">
                <button type="button" class="btn btn-default btn-lg" ng-click="vm.addWidget(item.type); vm.closeSideNav()">{{item.type}}</button>
            </li>
        </ol>
    </md-sidenav>

    <!-- Area for DnD -->
    <div flex="70" hide-xs hide-sm layout="column" layout-align="start center" style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px;">
        <div layout="row" layout-align="center center">
            <div layout="row" layout-align="space-between center" style=" width: 731.350px; ">
                <div>
                    <!-- <ng-md-icon icon="undo" ng-click="vm.backDashboard()"></ng-md-icon> -->
                </div>
                <div layout="row">
                    <!-- <h4 style="margin-bottom: 0px; margin-top: 0px;">{{vm.dashboardName}}</h4>
                    <ng-md-icon ng-show="vm.showWidgetOption" icon="youtube_searched_for" ng-click="vm.switchMode()"></ng-md-icon>
                    <ng-md-icon ng-hide="vm.showWidgetOption" icon="edit" ng-click="vm.switchMode()"></ng-md-icon> -->
                </div>
                <div>
                    <!-- <ng-md-icon icon="redo" ng-click="vm.nextDashboard()"></ng-md-icon> -->
                </div>
            </div>
        </div>
        <gridster options="vm.options">
            <gridster-item item="item" ng-repeat="item in (vm.listDashboard[vm.dashboardIndex])[0].templates" ng-click="vm.selected = (vm.listDashboard[vm.dashboardIndex])[0].templates[$index]; vm.changeStatus(vm.selected)">
                <div ng-include="item.type + '.html'" layout-fill></div>
            </gridster-item>
        </gridster>
    </div>

    <!-- Area DnD for mobile UI -->
    <div flex-xs="100" flex-sm="100" hide-md hide-lg layout="column" layout-align="start center" style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px;">
        <div layout="row" layout-align="center center">
            <!-- <ng-md-icon ng-show="vm.showWidgetOption" icon="remove" ng-click="vm.removeDashboard()"></ng-md-icon>
            <ng-md-icon ng-show="vm.showWidgetOption" icon="add" ng-click="vm.createDashboard($event)"></ng-md-icon>
            <h4 style="margin-bottom: 0px; margin-top: 0px;">{{vm.dashboardName}}</h4>
            <ng-md-icon ng-show="vm.showWidgetOption" icon="youtube_searched_for" ng-click="vm.switchMode()"></ng-md-icon>
            <ng-md-icon ng-hide="vm.showWidgetOption" icon="edit" ng-click="vm.switchMode()"></ng-md-icon> -->
        </div>

        <gridster ng-show="vm.showWidgetOption" options="vm.mobileViewOptions" md-swipe-left="vm.nextDashboard()" md-swipe-right="vm.backDashboard()">
            <gridster-item item="item" ng-repeat="item in (vm.listDashboard[vm.dashboardIndex])[0].templates" ng-touchstart="vm.selected = (vm.listDashboard[vm.dashboardIndex])[0].templates[$index]">
                <div ng-include="item.type + '.html'" layout-fill></div>
            </gridster-item>
        </gridster>

        <gridster ng-hide="vm.showWidgetOption" options="vm.mobileEditOptions" on-long-press="vm.longPressAction()" long-press-duration="3000">
            <gridster-item item="item" ng-repeat="item in (vm.listDashboard[vm.dashboardIndex])[0].templates" ng-touchstart="vm.selected = (vm.listDashboard[vm.dashboardIndex])[0].templates[$index]"
                on-long-press="vm.longPressOptions()" long-press-duration="3000">
                <div ng-include="item.type + '.html'" layout-fill></div>
            </gridster-item>
        </gridster>

    </div>

    <!-- Area for Option -->
    <div ng-hide="vm.showWidgetOption" flex="20" hide-xs hide-sm>
        <h4>Configuration</h4>
        <md-divider></md-divider>
        <div ng-if="vm.selected">
            <div ng-if="vm.selected.type=='button'">
                <div><b>Name:</b></div>
                <input type="text" ng-model="vm.selected.name" style="margin-bottom: 5px" />
                <br><br>
                <div style="margin-bottom: 5px"><b>When clicked, send:</b></div>
                <div>to topic:</div>
                <input type="text" ng-model="vm.selected.clickMessage.topic" style="margin-bottom: 5px" />
                <div>message:</div>
                <input type="text" ng-model="vm.selected.clickMessage.message" />
                <div><b>Icon:</b></div>
                <md-select ng-model="vm.selected.image" style="width: 20%">
                    <md-subheader><b>Selected Image: <i class="fa {{vm.selected.image}}" style="color: black; font-size: 20px;"></i></b></md-subheader>
                    <br>
                    <div layout="row"  style="width: 320px;" layout-wrap>
                        <div flex="12" ng-repeat="icon in vm.iconsList" ng-click="vm.closeDropdown()" layout-align="center center">
                            <md-option class="option" value="{{icon.abbrev}}" aria-hidden="true" layout-align="center center">
                                <i class="fa {{icon.abbrev}}" style="color: black;">
                            </md-option>
                        </div>
                    </div>
                </md-select>
            </div>

            <div ng-if="vm.selected.type=='switch'">
                <div><b>Name:</b></div>
                <input type="text" ng-model="vm.selected.name" style="margin-bottom: 5px" />
                <br><br>
                <div style="margin-bottom: 5px"><b>When switched ON, send:</b></div>
                <div>to topic:</div>
                <input type="text" ng-model="vm.selected.onMessage.topic" style="margin-bottom: 5px" />
                <div>message:</div>
                <input type="text" ng-model="vm.selected.onMessage.message" />
                <br><br>
                <div style="margin-bottom: 5px"><b>When switched OFF, send:</b></div>
                <div>to topic:</div>
                <input type="text" ng-model="vm.selected.offMessage.topic" style="margin-bottom: 5px" />
                <div>message:</div>
                <input type="text" ng-model="vm.selected.offMessage.message" />
            </div>

            <div ng-if="vm.selected=='slider'">
                <div><b>Name:</b></div>
                <input type="text" ng-model="vm.selected.name" style="margin-bottom: 5px" />
                <br>
                <div>Min value:</div>
                <input type="text" ng-model="vm.selected.min" style="margin-bottom: 5px" />
                <br>
                <div>Max value:</div>
                <input type="text" ng-model="vm.selected.max" style="margin-bottom: 5px" />
                <br><br>
                <div style="margin-bottom: 5px"><b>When value changed, send:</b></div>
                <div>to topic:</div>
                <input type="text" ng-model="vm.selected.changedMessage.topic" style="margin-bottom: 5px" />
            </div>
            <md-button class="md-raised md-primary" ng-click="vm.saveDashboard(); vm.closeSideNav()">Save</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.removeWidget(); vm.closeSideNav()">Remove</md-button>
        </div>
    </div>

    <!-- Area option for mobile UI -->
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="right" style="background-color: white !important;">
        <h4>Configuration</h4>
        <md-divider></md-divider>
        <div ng-if="vm.selected">
            <div ng-if="vm.selected.type=='button'">
                <div><b>Name:</b></div>
                <input type="text" ng-model="vm.selected.name" style="margin-bottom: 5px" />
                <br><br>
                <div style="margin-bottom: 5px"><b>When clicked, send:</b></div>
                <div>to topic:</div>
                <input type="text" ng-model="vm.selected.clickMessage.topic" style="margin-bottom: 5px" />
                <div>message:</div>
                <input type="text" ng-model="vm.selected.clickMessage.message" />
                <div><b>Icon:</b></div>
                <md-select ng-model="vm.selected.image" style="width: 20%;">
                    <label><b>Selected Image: <i class="fa {{vm.selected.image}}" style="color: black;"></i></b></label>
                    <br>
                    <div layout="row"  style="width: 210px;" layout-wrap>
                        <div flex="12" ng-repeat="icon in vm.iconsList" ng-click="vm.closeDropdown()">
                            <md-option class="option" value="{{icon.abbrev}}" aria-hidden="true" layout-align="center center">
                                <i class="fa {{icon.abbrev}}" style="color: black;">
                            </md-option>
                        </div>
                    </div>
                </md-select>
            </div>

            <div ng-if="vm.selected.type=='switch'">
                <div><b>Name:</b></div>
                <input type="text" ng-model="vm.selected.name" style="margin-bottom: 5px" />
                <br><br>
                <div style="margin-bottom: 5px"><b>When switched ON, send:</b></div>
                <div>to topic:</div>
                <input type="text" ng-model="vm.selected.onMessage.topic" style="margin-bottom: 5px" />
                <div>message:</div>
                <input type="text" ng-model="vm.selected.onMessage.message" />
                <br><br>
                <div style="margin-bottom: 5px"><b>When switched OFF, send:</b></div>
                <div>to topic:</div>
                <input type="text" ng-model="vm.selected.offMessage.topic" style="margin-bottom: 5px" />
                <div>message:</div>
                <input type="text" ng-model="vm.selected.offMessage.message" />
            </div>

            <div ng-if="vm.selected.type=='slider'">
                <div><b>Name:</b></div>
                <input type="text" ng-model="vm.selected.name" style="margin-bottom: 5px" />
                <br><br>
                <div style="margin-bottom: 5px"><b>When value changed, send:</b></div>
                <div>to topic:</div>
                <input type="text" ng-model="vm.selected.changedMessage.topic" style="margin-bottom: 5px" />
            </div>
            <md-button class="md-raised md-primary" ng-click="vm.saveDashboard(); vm.closeSideNav()">Save</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.removeWidget(); vm.closeSideNav()">Remove</md-button>
        </div>
    </md-sidenav>

    <!-- Area for template -->
    <!-- Template for a normal button item -->
    <script type="text/ng-template" id="button.html">
        <div layout="column" class="button" layout-fill layout-align="center center">
            <div flex class="name">
                {{item.name}}
            </div>
            <br>
            <div flex layout-align="center center">
            <!-- <img ng-show="item.status" class="image" src={{vm.baseUrl}}{{item.image}}On.svg>
                <img ng-hide="item.status" class="image" src={{vm.baseUrl}}{{item.image}}Off.svg> -->
                <i class="fa {{item.image}} fa-fw widgetImage" style="font-size: 60px; align-self: center;"></i>
                <div class="resizeMark"></div>
            </div>
        </div>
    </script>

    <!-- Template for a normal switch item -->
    <script type="text/ng-template" id="switch.html">
        <div layout="column" class="button" layout-fill  layout-align="center center">
            <div flex class="name">
                {{item.name}}
            </div>
            <div flex layout-fill>
                <img ng-show="item.status" class="image" src={{vm.baseUrl}}{{item.image}}On.svg>
                <img ng-hide="item.status" class="image" src={{vm.baseUrl}}{{item.image}}Off.svg>
                <div class="resizeMark"></div>
            </div>
        </div>
    </script>

    <!-- Template for a normal slider item -->
    <script type="text/ng-template" id="slider.html">
        <div layout="column" class="slider">
            <div flex class="name" layout-align="center center">
                {{item.name}}
            </div>
            <div flex layout-fill class="infor" layout-align="center center">
                {{item.status}}
                <br/>
                <span style="font-size: 15px;">Percent</span>
            </div>
            <div flex="20">
                <md-slider-container>
                    <md-slider flex ng-model="item.status" min="0" max="100" aria-label="blue" class="slider"></md-slider>
                </md-slider-container>
                <div class="resizeMark"></div>
            </div>
        </div>
    </script>

    <!-- Template for Display -->
    <script type="text/ng-template" id="display.html">
        <div layout="column" class="display">
            <div flex class="name">
                {{item.name}}
            </div>
            <div flex class="status" style="background-image: url({{vm.baseUrl}}{{item.image}}.svg)">
                <div layout-align="center center" class="statusText">
                    {{item.status}}
                </div>
                <div class="resizeMark"></div>
            </div>
        </div>
    </script>
</div>