<md-dialog>
    <md-dialog-actions>
        <div layout="column">
            <md-input-container flex>
                <label>Username</label>
                <input type="text" ng-model="vm.username" required md-maxlength="20">
            </md-input-container>
            <md-input-container flex>
                <label>Password</label>
                <input type="password" ng-model="vm.password" required md-maxlength="20">
            </md-input-container>
            <div layout="row">
                <div flex>
                    <md-button ng-click="vm.userLogin(vm.username, vm.password); close()" class="md-primary"> login</md-button>
                </div>
                <div flex>
                    <md-button ng-click="close()" class="md-primary"> Cancel</md-button>
                </div>
            </div>
        </div>
    </md-dialog-actions>
</md-dialog>