<!-- <div ng-cloak>
    <div layout="column">
        <div flex="20" style="background-color: black;">
            Sub Header
        </div>

        <div flex layout="row" layout-padding>
            <div flex="20" style="background-color: black;">
                Sub Header
            </div> -->
            <!-- Area for widget -->
            <!-- <div class="widget" flex="20" hide-xs hide-sm>
                <h4>Widget list</h4>
                <md-divider></md-divider>
                <ul>
                    <li ng-repeat="item in vm.widget">
                        <button type="button" class="btn btn-default btn-lg" ng-click="vm.addWidget(item.type)">{{item.type}}</button>
                    </li>
                </ul>
            </div>

            <div flex="5" hide-xs hide-sm></div> -->

            <!-- Area for dashboard -->
            <!-- <div flex="50" hide-xs hide-sm>
                <gridster options="vm.options" dnd-list="list">
                    <gridster-item item="item" ng-repeat="item in vm.models.dropzones" ng-click="vm.models.selected = vm.models.dropzones[$index]; vm.changeStatus(vm.models.selected)">
                        <div ng-include="item.type + '.html'" class="gridDetails"></div>
                    </gridster-item>
                </gridster>
            </div> -->

            <!-- Area for dashboar mobile UI -->
            <!-- <div flex-xs="100" flex-sm="100" md-swipe-right="vm.onSwipeLeft()">
                <gridster options="vm.options" dnd-list="list">
                    <gridster-item item="item" ng-repeat="item in vm.models.dropzones" ng-click="vm.onSwipeRight(); vm.models.selected = vm.models.dropzones[$index]">
                        <div ng-include="item.type + '.html'"></div>
                    </gridster-item>
                </gridster>
            </div> -->

            <!-- Area for left sidenav -->
            <!-- <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
                <ul>
                    <li ng-repeat="item in vm.widget">
                        <button type="button" class="btn btn-default btn-lg" ng-click="vm.addWidget(item.type); vm.closeSideNav()">{{item.type}}</button>
                    </li>
                </ul>
            </md-sidenav> -->

            <!-- Area for right sidenav -->
            <!-- <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
                <div ng-if="vm.models.selected">
                    <h4>Configuration</h4>
                    <md-divider></md-divider>
                    <div ng-if="vm.models.selected.type=='button'">
                        <div><b>Name:</b></div>
                        <input type="text" ng-model="vm.models.selected.name" style="margin-bottom: 5px" />
                        <br><br>
                        <div style="margin-bottom: 5px"><b>When clicked, send:</b></div>
                        <div>to topic:</div>
                        <input type="text" ng-model="vm.models.selected.clickMessage.topic" style="margin-bottom: 5px" />
                        <div>message:</div>
                        <input type="text" ng-model="vm.models.selected.clickMessage.message" />
                        <div><b>Icon:</b></div>
                        <select ng-model="vm.models.selected.icon">
                    <option value="accessible">accessible</option>
                    <option value="account_balance">account_balance</option>
                    <option value="backup">backup</option>
                    <option value="build">build</option>
                </select>
                    </div>

                    <div ng-if="vm.models.selected.type=='switch'">
                        <div><b>Name:</b></div>
                        <input type="text" ng-model="vm.models.selected.name" style="margin-bottom: 5px" />
                        <br><br>
                        <div style="margin-bottom: 5px"><b>When switched ON, send:</b></div>
                        <div>to topic:</div>
                        <input type="text" ng-model="vm.models.selected.onMessage.topic" style="margin-bottom: 5px" />
                        <div>message:</div>
                        <input type="text" ng-model="vm.models.selected.onMessage.message" />
                        <br><br>
                        <div style="margin-bottom: 5px"><b>When switched OFF, send:</b></div>
                        <div>to topic:</div>
                        <input type="text" ng-model="vm.models.selected.offMessage.topic" style="margin-bottom: 5px" />
                        <div>message:</div>
                        <input type="text" ng-model="vm.models.selected.offMessage.message" />
                    </div>

                    <div ng-if="vm.models.selected.type=='slider'">
                        <div><b>Name:</b></div>
                        <input type="text" ng-model="vm.models.selected.name" style="margin-bottom: 5px" />
                        <br>
                        <div>Min value:</div>
                        <input type="text" ng-model="vm.models.selected.min" style="margin-bottom: 5px" />
                        <br>
                        <div>Max value:</div>
                        <input type="text" ng-model="vm.models.selected.max" style="margin-bottom: 5px" />
                        <br><br>
                        <div style="margin-bottom: 5px"><b>When value changed, send:</b></div>
                        <div>to topic:</div>
                        <input type="text" ng-model="vm.models.selected.changedMessage.topic" style="margin-bottom: 5px" />
                    </div>
                    <md-button class="md-raised md-primary" ng-click="vm.saveDashboard()">Save</md-button>
                    <md-button class="md-raised md-primary" ng-click="vm.removeWidget(); vm.closeSideNav()">Remove</md-button>
                </div>
            </md-sidenav>

            <div flex="5" hide-xs hide-sm></div> -->

            <!-- Area for commander -->
            <!-- <div class="commnander" flex="20" hide-xs hide-sm>
                <div ng-if="vm.models.selected">
                    <h4>Configuration</h4>
                    <md-divider></md-divider>
                    <div ng-if="vm.models.selected.type=='button'">
                        <div><b>Name:</b></div>
                        <input type="text" ng-model="vm.models.selected.name" style="margin-bottom: 5px" />
                        <br><br>
                        <div style="margin-bottom: 5px"><b>When clicked, send:</b></div>
                        <div>to topic:</div>
                        <input type="text" ng-model="vm.models.selected.clickMessage.topic" style="margin-bottom: 5px" />
                        <div>message:</div>
                        <input type="text" ng-model="vm.models.selected.clickMessage.message" />
                        <div><b>Icon:</b></div>
                        <select ng-model="vm.models.selected.image">
                    <option value="light">Light</option>
                    <option value="switch">Switch</option>
                    <option value="bulb">Bulb</option>
                </select>
                    </div>

                    <div ng-if="vm.models.selected.type=='switch'">
                        <div><b>Name:</b></div>
                        <input type="text" ng-model="vm.models.selected.name" style="margin-bottom: 5px" />
                        <br><br>
                        <div style="margin-bottom: 5px"><b>When switched ON, send:</b></div>
                        <div>to topic:</div>
                        <input type="text" ng-model="vm.models.selected.onMessage.topic" style="margin-bottom: 5px" />
                        <div>message:</div>
                        <input type="text" ng-model="vm.models.selected.onMessage.message" />
                        <br><br>
                        <div style="margin-bottom: 5px"><b>When switched OFF, send:</b></div>
                        <div>to topic:</div>
                        <input type="text" ng-model="vm.models.selected.offMessage.topic" style="margin-bottom: 5px" />
                        <div>message:</div>
                        <input type="text" ng-model="vm.models.selected.offMessage.message" />
                    </div>

                    <div ng-if="vm.models.selected.type=='slider'">
                        <div><b>Name:</b></div>
                        <input type="text" ng-model="vm.models.selected.name" style="margin-bottom: 5px" />
                        <br>
                        <div>Min value:</div>
                        <input type="text" ng-model="vm.models.selected.min" style="margin-bottom: 5px" />
                        <br>
                        <div>Max value:</div>
                        <input type="text" ng-model="vm.models.selected.max" style="margin-bottom: 5px" />
                        <br><br>
                        <div style="margin-bottom: 5px"><b>When value changed, send:</b></div>
                        <div>to topic:</div>
                        <input type="text" ng-model="vm.models.selected.changedMessage.topic" style="margin-bottom: 5px" />
                    </div>
                    <md-button class="md-raised md-primary" ng-click="vm.saveDashboard()">Save</md-button>
                    <md-button class="md-raised md-primary" ng-click="vm.removeWidget()">Remove</md-button>
                </div> -->

                <!-- Area for template-->
                <!-- Template for a button item -->
                <!-- <script type="text/ng-template" id="button.html">
                    <div layout="column" class="button">
                        <div flex class="name" layout-align="center center">
                            {{item.name}}
                        </div>
                        <div flex layout-fill>
                            <img ng-show="item.status" class="image" src={{vm.baseUrl}}{{item.image}}On.svg>
                            <img ng-hide="item.status" class="image" src={{vm.baseUrl}}{{item.image}}Off.svg>
                        </div>
                    </div>
                </script> -->

                <!-- Template for a switch item -->
                <!-- <script type="text/ng-template" id="switch.html">
                    <div layout="column" class="button">
                        <div flex class="name" layout-align="center center">
                            {{item.name}}
                        </div>
                        <div flex layout-fill>
                            <img ng-show="item.status" class="image" src={{vm.baseUrl}}{{item.image}}On.svg>
                            <img ng-hide="item.status" class="image" src={{vm.baseUrl}}{{item.image}}Off.svg>
                        </div>
                    </div>
                </script> -->

                <!-- Template for a normal slider item -->
                <!-- <script type="text/ng-template" id="slider.html">
                    <div layout="column" class="slider">
                        <div flex class="name" layout-align="center center">
                            {{item.name}}
                        </div>
                        <div flex layout-fill>
                            <md-slider-container>
                                <md-slider flex ng-model="item.status" id="slider_{{item.id}}" min="0" max="100" aria-label="blue" class="md-primary image"
                                    ng-click="vm.widgetAction(item)"></md-slider>
                            </md-slider-container>
                        </div>
                    </div>
                </script> -->

                <!-- Template for Display -->
                <!-- <script type="text/ng-template" id="display.html">
                    <div layout="column" class="display">
                        <div flex class="name">
                            {{item.name}}
                        </div>
                        <div flex class="status" style="background-image: url({{vm.baseUrl}}{{item.image}}.svg)">
                            <div layout-align="center center" class="statusText">
                                {{item.status}}
                            </div>

                        </div>
                    </div>
                </script>
            </div>
        </div>
    </div>
</div> -->

<div layout="column" >
    <div flex>
        Sub Header
    </div>
    <div>
        Containt
    </div>
</div>