<!-- Area for widget -->
<div flex layout="row" layout-padding ng-cloak>
    <div class="widget" flex="20">
        <h3>New Elements</h3>
        <ul>
            <li ng-repeat="item in vm.widget">
                <button type="button" class="btn btn-default btn-lg" ng-click="vm.addWidget(item.type)">{{item.type}}</button>
            </li>
        </ul>
    </div>

    <div flex="5"></div>

    <div class="dashboard" flex="50">
        <gridster options="vm.options" dnd-list="list">
            <gridster-item item="item" ng-repeat="item in vm.dashboard" ng-click="vm.commanderCenter($index)"></gridster-item>
        </gridster>
    </div>

    <div flex="5"></div>

    <!-- Area for commander and trashcan -->
    <div class="commnander" flex="20">
        <div ng-show="vm.commanderStatus">
            <button type="button" class="btn btn-default btn-lg" ng-click="vm.removeWidget()">Delete</button>
        </div>
    </div>
</div>